@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');
*{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  
}
.root-main{
  display:flex;
  justify-content:start;
  
  overflow-x: hidden;
}
.left-container{
 flex:0.6
}
.right-container{
  flex:0.4
}
@media only screen and (max-width: 500px){
 .root-main{
   flex-direction: column-reverse;
 }
 .left-container,.right-container{
   flex:1
 }
}